<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardver4.Board.BoardMapper">
    <insert id="InsBoard" parameterType="BoardInsDto">
        insert into t_board
        (title,ctnt,iuser)
        values
        (#{title},#{ctnt},#{iuser})

    </insert>
    <select id="selBoard" resultType="BoardSelDto">
        select A.iboard, A.title, A.created_at createdAt
        , B.nm writer
        FROM t_board A
        INNER JOIN t_user B
        ON A.iboard = B.iboard
        ORDERY BY iboard DESC
        LIMIT ${startIdx}, ${row}
    </select>
</mapper>