<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardver4.user.UserMapper">
    <insert id="UserIns" parameterType="UserInsDto">
        insert into t_user
        (uid,upw,nm,gender,addr)
        values
        (#{uid},#{upw},#{nm},#{gender},#{addr})
    </insert>

    <select id="UserSel" resultType="UserLoginDto">
        select uid,upw,nm,gender,addr from t_user
        where uid = #{uid}, upw = #{upw};

    </select>
<!--    <update id="Userupdate" parameterType="UserDto">-->
<!--        update t_user-->
<!--        set uid = #{uid},-->
<!--        upw = #{upw},-->
<!--        nm = #{nm},-->
<!--        gender = #{gender},-->
<!--        addr = #{addr},-->
<!--        main_pic = #{main_pic}-->
<!--        where iuser = #{iuser}-->
<!--    </update>-->
<!--    <delete id="Userdel" parameterType="UserDto">-->
<!--        delete from t_user-->
<!--        where iuser = #{iuser}-->
<!--    </delete> dd-->




</mapper>